#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Common Application Framework sample"

config TRANSMIT
    bool "Set to true to transmit events, set to false to receive"
    default y

module = APPLICATION
module-str = application module
source "subsys/logging/Kconfig.template.log_config"

rsource "drivers/Kconfig"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
