#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Common Application Framework sample"

choice
    prompt "Ping or pong"
    config PING
        bool "Ping"
    config PONG
        bool "Pong"
endchoice

module = APPLICATION
module-str = application module
source "subsys/logging/Kconfig.template.log_config"

rsource "drivers/Kconfig"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
